Repository samiurprapon/Aether, pull requests merged in 2024-10, with the labels that each got.

#191 Implement Student Dashboard Page #188
  frontend/.hintrc
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/components/CourseCard.tsx
  frontend/src/components/layouts/LeftComponent.tsx
  frontend/src/components/layouts/MiddleComponent.tsx
  frontend/src/components/layouts/RightComponent.tsx
  frontend/src/main.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/routes/PublicRoutes.tsx
  frontend/src/styles/globals.css
  frontend/tailwind.config.js
Labels: enhancement, frontend, hacktoberfest

#205 [Feature-partial] Added the authentication (Login) page implemented
  assets/eye-image.jpg
  frontend/src/pages/AuthPage.css
  frontend/src/pages/AuthPage.tsx
  frontend/src/routes/PublicRoutes.tsx
  frontend/src/styles/globals.css
Labels: enhancement, frontend, hacktoberfest-accepted

#206 📝 Add Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  backend/.husky/commit-msg
Labels: documentation
